<div>
    <div class="wrapper scroll-support" ng-click="hideConfig()" ng-class="{'panel-collapsed':sidebarCollapse}">
        <div ng-include="'views/template/header-spl-case.html'"></div>
        <div ng-include="'views/template/sidebar-spl-case.html'"></div>
        <div class="panel middle scroll-support" ng-class="{'panel-collapsed':sidebarCollapse}">
            <textarea autocomplete="off" id="textareaCode" wrap="logical" spellcheck="false" class=" textareaCC">
                /*****************************************\
                *                                         *
                * Script :   sdfdsf.nvt                   *
                *                                         *
                \*****************************************/

                {

                    !"Start of module [sdfdsf]"

                }
            </textarea>
            <div ng-include="'views/template/footer.html'"></div>
        </div>
    </div>
</div>
